p(id='name', style='font-size:100px; padding-top:100px;') Loading Attendees...
<br>
p(id='company', style='font-size:50px; padding-top:40px; padding-left:20px')
<br>
a.btn(id='stop', style='font-size: 30px; padding:20px; margin-top:50px') Stop!
script(src='/js/index.js')